@import url(css/addons/unraid/login-page/alien/isolation.css);
:root {
    --main-bg: radial-gradient(ellipse at center,rgba(19, 15, 219, 0.1) 0,rgba(19, 15, 219,0) 100%) center center/cover no-repeat fixed, 
    url(css/addons/unraid/login-page/alien/wallpaper/isolation.png) center center/cover no-repeat fixed;
    --logo: url(https://w7.pngwing.com/pngs/84/232/png-transparent-space-shuttle-enterprise-logo-organization-emblem-uss-enterprise-ncc-1701-others-emblem-logo-starship-enterprise.png) center no-repeat;
    --text-color: #130fdb;
    --input-color: #130fdb;
    --link-color: #130fdb;
    --link-color-hover: #68ffff;
    --case-color: #130fdb;
    --button-text-color: #130fdb;
    --button-text-color-hover: #000;
    --button-color: #130fdb;
    --button-color2: #11bed9;
    --button-color-hover: #68ffff;
    --button-color2-hover: #68ffff;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: rgba(19, 15, 219, 0.03);
    --text-shadow: 0 0 8px;
    --box-shadow: 0 0 15px;
}
